<h1>Doações Disponíveis</h1>


{{#each doacao}}
	ID:{{dataValues.id}}<br>
	Nome do Doador:{{dataValues.nome_doador}}<br>
	Telefone:{{dataValues.telefone_doador}}<br>
	Quantidade:{{dataValues.kg_Alimento}}<br>
	Email:{{dataValues.email_Doador}}<br>
	Alimento:{{dataValues.nome_Alimento}}<br>
	Cadastrado:{{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>

	<a href="/editar-doacao/{{dataValues.id}}"><button>Editar</button></a>
	<a href="/del-doacao/{{dataValues.id}}"><button>Apagar</button></a>
	<hr>
	
{{/each}}

